body{
    background: linear-gradient(#141e30, #243b55);
    color: white;
}

a:link {color: white;}
a:visited {color: white;}
a:hover {color: white;}
a:active {color: white;}
a.nav-link:link {color: white;}
a.nav-link:visited {color: white;}
a.nav-link:hover {color: white;}
a.nav-link:active {color: white;}


/*BOOK书架*/
.book{
    border-radius: 10%;
    width:200px;
    height: 282px;
	max-height:282px;
    max-width:200px;
	overflow:hidden;
	position:relative;
    padding: 0px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.book span{
    position:absolute;
    width: 100%;
    bottom: 0px;
    background-color: rgb(44, 44, 44);
    opacity:0.8;
    padding-left: 10%;
    padding-right: 10%;
}
.book img{
    height:100%;width:100%;
    border-radius: 10%;
    transition:all 0.8s ease;
	position:absolute;	
	opacity:1;			
}
.book:hover img{
	transform:scale(1.2,1.2);
	transition:all 0.8s ease;
	opacity:0.8;
}
.book:hover img.new{
	transform:scale(1,1);
	transition:all 0.8s ease;
	opacity:1;
}

img.new{
    position:absolute;
    transform: scale(1,1);
    left:10%;
    top:0px;
    width: 40px;
    height: 40px;
}


.loading{
    position:absolute;
    left:50%;
    top:40%;
}

/*Menu*/
.menu{
    color: white;
    background-color: #28232F;
    border-color: white;
}
.menu li{
    color: white;
    border-color: white;
    border-top:4px;
    border-bottom: 4px;
    border-left: 0px;
    border-right: 0px;
    background-color: #28232F;
}

