<!DOCTYPE html>
<html>
  <head>
    <title>iReader-{{ name }}</title>
    <meta charset="utf-8"> 
    <meta charset="utf-8"> 
    <link href="https://cdn.staticfile.org/bootstrap/5.2.3/css/bootstrap.min.css" 
        rel="stylesheet">
    {% load static %}
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'web/night.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'web/night-reader.css' %}">
    <script src="https://cdn.staticfile.org/bootstrap/5.2.3/js/bootstrap.min.js">
    </script>
    
    <script>
      url = "{{ url }}";
      index = {{ content }};
      bookname = '{{ name }}';
    </script>
  </head>
  <body onbeforeunload="test()">
    <h3 class="th">{{ name }}</h3>
    <div class="box test-1">
        <div class="content" id="f">
          <article id='a'>
            <div id='title'>
              <div class="spinner-border text-muted" style=""></div>
            </div>
            <hr>
            <span id="content">
              <div class="spinner-border text-muted" style="position:absolute;left:50%;top:45%;"></div>
            </span>
          </article>
        </div>
    </div>
    <div class='buttons' id='buttons1'>
      
      <button class="btn btn-primary" onclick="next_chapter();">
        <span class="spinner-grow spinner-grow-sm" id = 'nextl'></span>
        下一章
      </button><br>
      <button class="btn btn-primary" onclick="last_chapter();" >
        <span class="spinner-grow spinner-grow-sm" id="lastl"></span>
        上一章
      </button><br>
      <button class="btn btn-primary" onclick="i++;next_page(i);" >
        下一页
      </button><br>
      <button class="btn btn-primary" onclick="i--;next_page(i);" >
        上一页
      </button><br>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
        目录
      </button><br>
      <button class="btn btn-primary" onclick="location.href=('/')" >首页</button>
    </div>
    <script src="{% static 'web/reader.js' %}"></script>
        <!-- 模态框 -->
    <div class="modal fade" id="myModal" style="color: black;">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <!-- 模态框头部 -->
          <div class="modal-header">
            <h4 class="modal-title">目录-{{ name }}</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
    
          <!-- 模态框内容 -->
          <div class="modal-body contentsbox test-1" style="height:75vh;overflow-y:auto;" id="cd">
            <div class="spinner-border text-muted" id="cf" style=""></div>
            <ul id='contents' class="list-group list-group-flush">
              
            </ul>
          </div>
    
          <!-- 模态框底部 -->
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick='document.querySelector("#cll").scrollIntoView()'>定位</button>
            <button type="button" class="btn btn-primary" onclick='fresh(1)'>刷新</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">关闭</button>
          </div>
    
        </div>
      </div>
    </div>
  </body>
</html>