<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"> 
    <meta charset="utf-8"> 
    <link href="https://cdn.staticfile.org/bootstrap/5.2.3/css/bootstrap.min.css" 
        rel="stylesheet">
    {% load static %}
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'web/night.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'web/night-reader.css' %}">
    <script src="https://cdn.staticfile.org/bootstrap/5.2.3/js/bootstrap.min.js">
    </script>
    
    <script>
      url = "{{ url }}";
      index = {{ content }};
      bookname = {{ name }};
    </script>
  </head>
  <body onbeforeunload="test()">
    <h3 class="th">{{ name }}</h3>
    <div class="box test-1" id="f">
        <div id='title'>
          <div class="spinner-border text-muted" style=""></div>
        </div>
        <hr>
        <div id="content" class="content">
          <div class="spinner-border text-muted" style="position:absolute;left:50%;top:45%;"></div>
        </div>
    </div>
    <div class='buttons' id='buttons1'>
      <button class="btn btn-primary" onclick="next();">
        <span class="spinner-grow spinner-grow-sm" id = 'nextl'></span>
        Next
      </button><br>
      <button class="btn btn-primary" onclick="last();" >
        <span class="spinner-grow spinner-grow-sm" id="lastl"></span>
        Last
      </button><br>
    </div>
    <script src="{% static 'web/reader.js' %}"></script>

  </body>
</html>